/**** style du menu ***/

body{
	padding-left: 150px;
	padding-right:15px;
}

nav{
	position:fixed;
	top:0;
	right:0;
	left: 150px;
	background-color: #fff;
	opacity: .7;
}

h1, p, h3, h2 {
	font-family: sans-serif;
}

h1, h3, h2{
	font-weight:normal;

}


nav h1{
	margin-top: 7px;
}

h1{
	font-size: 1.5em;
}

h3{
	font-size:1em;
}


#nav h1, #nav h3{
	font-weight: normal;
}


#nav{
	display: flex;
	justify-content: space-between;	
}


#nav a{
	text-decoration: none;
	color:lightgray;
}

#nav a:hover{
	color: black;
}

#nav a[href="#"]{
	color: black;
	font-weight: bold;
}

#nav h3{
	margin-right: 15px;
}


#content{ 
	display: flex;
	justify-content: space-between;
}

