
input{
	width: 600px;
	height: 50px;
	border-radius: 5%;
	padding: 0 15px;
	position: absolute;
	top: 25%;
	left: 31%;
}

button{
	width:110px;
	height: 50px;
	position: absolute;
	top: 25%;
	left: 22.9%;
}



#books{
	display: flex;
	justify-content: space-between;
	margin-top: 20%;
}

.book-found{
	width: 200px;
	height: 250px;
	background-color: lightgray;
}